@using MvcContrib.UI.Grid;
@using MHCP.Domain.BoundedContexts.APR;

@model Person

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Hello World!</h2>
    @Html.EditorForModel()
